

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  padding: 10px; 
  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px; 
  border-radius: 20px;
}

.title {
  font-size: 36px; 
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}
.forgotpass{
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 30px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  margin-left: 20px;
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  cursor: pointer;
  margin-bottom: 40px;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.error{
  color: red;
}